.form-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}
.textArea {
  width: 80%;
}

.side-by-side {
  display: flex;
  justify-content: flex-start;
}

.form-container-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  margin-right: 20px;
}

.form-input {
  flex: 1;
  width: 100%;
}

.fixed-width {
  width: 20px;
}

.flex-grow {
  flex-grow: 1;
  margin-right: 6rem;
}
/* @media only screen and (min-width: 1366px) {
  .form-label {
    font-size: 12px;
  }
  .form-input {
    font-size: 12px;
    width: 150px;
  }
  .form-container {
    margin-left: -5vh;
  }
  .textArea {
    margin-right: 1vh;
  }
} */
@media screen and (min-width: 1023px) and (max-width: 1365px) {
  .form-label {
    font-size: 12px;
  }
  .form-input {
    font-size: 12px;
    width: 150px;
  }
  .form-container {
    margin-left: 5px;
  }
}
