.form-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.side-by-side {
  display: flex;
  justify-content: flex-start;
}

.form-container-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  margin-right: 20px;
}

.form-input {
  flex: 1;
  width: 100%;
}

.fixed-width {
  width: 20px;
}

.flex-grow {
  flex-grow: 1;
}
