.companyContainer {
  margin-left: -1rem;
}
.tableCompany {
  margin-left: 3rem;
  margin-top: 1vh;
  width: 90rem;
}

@media only screen and (max-width: 1366px) {
  .companyContainer {
    margin-left: -10rem;
  }
  .tableCompany {
    width: 70rem;
  }
}
