.container {
  display: flex;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  width: 150px;
}

.form-input {
  flex: 1;
}
.select {
  width: 185px;
}
/* @media only screen and (min-width: 1366px) {
  .form-label {
    font-weight: 100;
    font-size: 13px;
    width: 100px;
  }
  .form-input {
    flex: 1;
    width: 110px;
    margin-left: -15px;
    font-size: 12px;
  }
  .select {
    width: 155px;
  }
  .container {
    margin-right: 7rem;
  }
} */
@media screen and (min-width: 1023px) and (max-width: 1365px) {
  .form-label {
    font-weight: 100;
    font-size: 12px;
    width: 100px;
  }
  .form-input {
    flex: 1;
    width: 120px;
    margin-left: -15px;
    font-size: 12px;
  }
  .select {
    width: 110px;
  }
  .container {
    width: 100%;
  }
}
