.container {
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
}

.racun-information-container,
.racun-date-information-container {
  flex: 1;
  margin: 15px;
}

.form-row,
.date-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label,
.date-label {
  flex: 0 0 180px;
  margin-right: 10px;
}

.form-input,
.date-input {
  flex: 1;
  margin-right: 10px;
}
