.container {
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
}

.racun-information-container,
.racun-date-information-container {
  flex: 1;
  margin: 15px;
}

.form-row,
.date-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.date-row {
  margin-left: -3rem;
}
.form-row {
  margin-top: 5px;
}

.form-label,
.date-label {
  width: 100%;
}

.form-input,
.date-input {
  width: 150px;
}
@media only screen and (max-width: 1366px) {
  .form-label,
  .date-label {
    font-size: 12px;
  }
  .form-input,
  .date-input {
    font-size: 12px;
  }
  .container {
    margin-left: -0.5rem;
  }
}
