.invoice-container {
  display: flex;
  flex-direction: column;
}

.company-partner-container {
  display: flex;
  justify-content: space-between;
}

.company-information-container,
.partner-information-container {
  flex-basis: 48%;
}
@media only screen and (max-width: 1366px) {
  .invoice-container {
    margin-left: -7rem;
  }
  .invoiceTableCol{
    margin-left: -6rem;
  }
}
