.partnerContainer {
  margin-left: -1rem;
}
.tablePartners {
  margin-left: 3rem;
  margin-top: 1vh;
  width: 90rem;
}

@media only screen and (max-width: 1366px) {
  .partnerContainer {
    margin-left: -10rem;
  }
  .tablePartners {
    width: 70rem;
  }
}
